@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-geist-sans), var(--font-geist-mono), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
